@{
    ViewData["Title"] = "Movie Entered";
}

@model Movie 

<div class="text-center">
    <h2>Movie Entered</h2>

    <div class="fadeobject">
        <div> Added @Model.Title to the database.</div>
        <br /><br />
        <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Home</a>
    </div>
</div>