@{
    ViewData["Title"] = "Home Page";
}

<style>
    img {
        animation: fadeInAnimation ease 2s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    @@keyframes fadeInAnimation {
        0% {
            opacity: 0%;
        }
        100% {
            opacity: 100%;
        }
    }
</style>

<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
    <br />
    <img src="~/img/joelhiltonheadshot.jpg" />
</div>
